<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "login", media: "all" %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <% if alert %>
                <div class="alert alert-warning" role="alert">
                  <span class="alert-text"><%= alert %></span>
                </div>
              <% end %>
              <h5 class="card-title text-center">Iniciar Sesión</h5>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin") do |f| %>
                <div class="form-label-group">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                  <%= f.label :email, :"Correo" %>
                </div>

                <div class="form-label-group">
                    <%= f.password_field :password, autofocus: true, autocomplete: "email", class: "form-control" %>
                    <%= f.label :password, :"Contraseña" %>
                </div>

                <div class="row text-center">
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Autenticar</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>