<div class="row p-4">
    <div class="col-lg-12">
        <div class="card-wrapper">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Información del Plan</h3>
                </div>

                <div class="card-body">
                    <%= hidden_field(:plan, :id, :value => @record.id) %>
                    <div class="form-group">
                        <label class="form-control-label" for="nombre">Nombre</label>
                        <%= text_field(:plan, :nombre, class: "form-control", id: "nombre", value: @record.nombre) %>
                        <p class="text-danger"><%= @record.errors[:nombre].first %></p>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="nombre">Porcentaje Comisión</label>
                        <%= number_field(:plan, :porcentaje_comision, class: "form-control", value: @record.porcentaje_comision, min: 1, max: 100) %>
                        <p class="text-danger"><%= @record.errors[:porcentaje_comision].first %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
